<!DOCTYPE html>
<html>
	<include file="Public/header" />

		<div class="auto nei">

			<p class="weizhi"> 当前位置：
				<a href="#">首页</a>&gt;&gt;<a href="#">下载中心</a> </p>

			<div class="yxfl">
				<p class="youxi">
					<span>游戏分类</span>
					<br class="qc">
				</p>
				<br class="qc">

				<p class="chaxv chaxv1">游戏类型：

					<a href="#" class="on">全部</a>



					<a href="#">跑胡子</a><a href="#">跑得快</a><a href="#">麻将</a><a href="#">字牌</a>

					<br />
					<!-- 游戏排名：
			<a href="#" >全部</a> 
			<a href="#" >热门推荐</a> 
			<a href="#" >热门游戏</a> 
			<a href="#">最新游戏</a> -->
				</p>

				<ul class="waitbal">
					<li class="lanren d1">
						<ul class="xzyx_last hidden">

							<li>
								<a rel="external nofollow" href="youxixiazai-01.html"> 
									<img class="last_iamg" src="img/5ad1a8e5ab439.png" alt="阿闪打拱">
								</a>
								<div class="last_ou">
										<a rel="external nofollow" href="youxixiazai-01.html"><p class="last_p1">阿闪打拱</p></a>
										<p class="last_p2">类型：棋牌<span>大小：34.5M</span></p>
										<p class="last_p2">简介：阿闪打拱游戏是由阿闪游戏基于大冶地方特色...</p>
									<div class="oz">
										<a rel="external nofollow" href="youxixiazai-01.html">游戏下载</a>
									</div>
								</div>
							</li>

							<li>
								<a rel="external nofollow" href="youxixiazai-01.html"> 
									<img class="last_iamg" src="img/5ad1a8e5ab439.png" alt="阿闪打拱">
								</a>
								<div class="last_ou">
										<a rel="external nofollow" href="youxixiazai-01.html"><p class="last_p1">阿闪打拱</p></a>
										<p class="last_p2">类型：棋牌<span>大小：34.5M</span></p>
										<p class="last_p2">简介：阿闪打拱游戏是由阿闪游戏基于大冶地方特色...</p>
									<div class="oz">
										<a rel="external nofollow" href="youxixiazai-01.html">游戏下载</a>
									</div>
								</div>
							</li>
							
						<!-- 	<li>
								<a rel="external nofollow" href="youxixiazai-01.html"> 
									<img class="last_iamg" src="img/5ad1a8e5ab439.png" alt="阿闪打拱">
								</a>
								<div class="last_ou">
										<a rel="external nofollow" href="youxixiazai-01.html"><p class="last_p1">阿闪打拱</p></a>
										<p class="last_p2">类型：棋牌<span>大小：34.5M</span></p>
										<p class="last_p2">简介：阿闪打拱游戏是由阿闪游戏基于大冶地方特色...</p>
									<div class="oz">
										<a rel="external nofollow" href="youxixiazai-01.html">游戏下载</a>
									</div>
								</div>
							</li> -->


						</ul>
						<br class="qc" />
						<ul class="xzyx_last xzyx_last2"></ul>
						<br class="qc" />
						<!-- <div class="more2"><a  class="ckgd" href="javascript:;">查看更多</a></div> -->
					</li>






				</ul>

			</div>
		</div>

	<include file="Public/footer" />

</html>
