<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="[CSS]/jsmodern.min.css">
  <script src="[JS]/jquery-1.10.2.js"></script>
  <script src="[JS]/jsmodern.min.js"></script>
<script>
        $(function () {
            //视频
            jsModern.video(".video");

            //监听视频的播放状态
            var video = document.getElementById("videoShow");
            // video.oncanplay = function () {
            //     $(".VideoBtn").show();
            //     //$("#video").attr("poster","");
            // }
            //视频播放事件
            video.onplay = function () {
                $("#videoShow").attr("poster", "");
            };

        })
    </script>
   <include file="Public/header" />
   <style>
 	  .video-ul li {width: 46%; margin-right: 3%;}
 	  .video-ul li:nth-child(even) { margin-right:0;}
 	  div.video {position: relative;}
 .jsmodern-video {max-height: 240px;}
       #video {
           width: 400px;
           margin: 0 auto;
           position: relative;
       }
 
       #video video {
           width: 100%;
           height: auto;
           object-fit: fill;
       }
 
       .VideoBtn {
           position: absolute;
     left: 80%;
     background-color: #ff6d00;
     color: #fff;
           display: block;
           width: 110px;font-size: 16px; border-radius: 5px;
           line-height: 40px;text-align: center;
           margin-left: -35px;
           margin-top: -41px;
           z-index:0;
       }
 		.jsmodern-video-panel b.jsmodern-video-play {
 			position: absolute;margin: 0;
 			width: 110px;
 			height: 40px; top: 48px;
   right: 12px;z-index: 10;
 		}
		.fu_right { width: 926px;}
   </style>
    

        <div class="auto nei">
            <div class="fu">
                <img src="[IMG]/a_17.png">
                <a class="fua1" target="_blank" href="tencent://message/?uin={$config2.qq}&Site=uemo&Menu=yes"></a>
                <a class="fua2" href="javascript:"></a>
                <a class="fua3" href="javascript:"></a>


                <div class="pa border er_wei" style="text-align:center;color:black;">
                    <b>{$config2.company_name}</b>
                    <br>微信公众号



                    <img style="width:99px;height:99px;" alt="" src="{$weixin[0].ad_code}">

                    <i class="pa bgPng"></i>
                </div>

            </div>

            <p class="weizhi"> 当前位置：
                <a href="/">首页</a>&gt;&gt;<a href="">{$now.cat_name}</a>
            </p>


<div class="fu_right">
                    <div class="nei_left table1 table2" style="width: 100%;">
                    <img src="[IMG]/a_45.png" class="ico">
                    <p class="youxi youxi2" style="
    margin-top: -10px;
    width: 91%; 
    font-size: 16px;
    padding-top: 0px;
">
                        <!-- <a class="more" href="#">更多>></a> -->
                        <b class="tab tab3">

                            <a class="zhong" href="javascript:">麻将视频</a>

                        </b>
                    </p>
                    <br class="qc">

                   <div class="hide di3  show">
            <ul class="hdlst video-ul">
              <foreach name="ship" item="v">
              <li>
                <div class="video">
                <section class="jsmodern-video" style="height:277px;">
					<video src="{$v.link}" poster="[IMG]/5ad961c494ac3.jpg" id="videoShow" width="400" height="277"></video>
					<section class="jsmodern-video-panel">
						<b class="jsmodern-video-play"></b>
						<span class="jsmodern-video-start">00:00</span>
						<span>/</span>
						<span class="jsmodern-video-end">03:46</span>
						<div class="jsmodern-video-linebox">
							<div class="jsmodern-video-pass"></div>
							<b class="jsmodern-video-linedot"></b>
						</div>
						<b class="jsmodern-video-volume"></b>
						<div class="jsmodern-video-volumebox">
							<div class="jsmodern-video-volumeline"></div>
							<b class="jsmodern-video-volumedot"></b>
						</div>
						<b class="jsmodern-video-fullin"></b>
					</section>
				</section>
                <div class="hdbt"><a href="{:U('News/pic_page',array('id'=>$v['article_id'],'catid'=>$v['cat_id']))}">四川麻将视频教程</a></div>
                <div class="hdsj">播放次数：17</div> 
                <span class="VideoBtn">播放/暂停</span>
                </div>
              </li>
            </foreach>

            <!-- <li>
                <div id="video">
                <video src="http://www.songfeizh.com/Public/Home/img/wzhq.mp4" poster="img/5ad961c494ac3.jpg" id="videoShow"></video>
                <div class="hdbt"><a href="majiangshipin-01.html">四川麻将视频教程</a></div>
                <div class="hdsj">播放次数：17</div> 
                <span class="VideoBtn">立即播放</span>
                </div>
              </li>
 -->
            <!--   <li>
                <video src="http://www.songfeizh.com/Public/Home/img/wzhq.mp4" poster="img/5ad961c494ac3.jpg" controls=""></video>
                <div class="hdbt"><a href="majiangshipin-01.html">四川麻将视频教程</a></div>
                <div class="hdsj">播放次数：17</div> 
              </li>
              <li>
                <video src="http://www.songfeizh.com/Public/Home/img/wzhq.mp4" poster="img/5ad961c494ac3.jpg" controls=""></video>
                <div class="hdbt"><a href="majiangshipin-01.html">四川麻将视频教程</a></div>
                <div class="hdsj">播放次数：17</div> 
              </li>
              <li>
                <video src="http://www.songfeizh.com/Public/Home/img/wzhq.mp4" poster="img/5ad961c494ac3.jpg" controls=""></video>
                <div class="hdbt"><a href="majiangshipin-01.html">四川麻将视频教程</a></div>
                <div class="hdsj">播放次数：17</div> 
              </li> -->

            </ul>
          </div>

                        <ul class="page-ul">
                            {$page}
                           <!--  <li>上一页</li>                            
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="active"><a href="#">4</a></li>
                            <li>下一页</li>
                            <li>最后一页</li> -->
                        </ul>
                </div>      

                </div>

<include file="Public/con_right2" />
            </div>  
            
                  

<!-- 
            <div class="fu_left">
                <div class="yxxz_right yxxz_right2" style="position:relative">
                    <img src="[IMG]/a_20.png" class="ico2">
                    <p class="youxi youxi3">
                        <span>热门文章</span>
                    </p>
                    <br class="qc">

                    <ul class="index-news majiang-right">
                        <foreach name="list" item="v">
                        <li>
                            <a href="">
                                <img class="" src="{$v.thumb}" alt="">
                                <h4>{$v.title}</h4>
                                <time>06/27</time>
                            </a>
                        </li>
                    </foreach>
                    </ul>
                </div>

                <div class="yxxz_right yxxz_right2" style="position:relative">
                    <img src="[IMG]/a_20.png" class="ico2">
                    <p class="youxi youxi3">
                        <span>游戏下载</span>
                        <br class="qc">
                    </p>

                    <ul class="left_yx">
                        <foreach name="down" item="v" >
                        <li><img class="le_ft_iamg" src="[IMG]/5ad1a8e5ab439.png" alt="阿闪打拱">
                            <p>{$v.file_name}<br />
                                <span>{$v.cat_name}</span></p>
                            <div class="oz">
                                <a class="fl bgPng s_3 s_4" onclick=disp_confirm()>游戏下载</a>
                            </div>

                        </li>
                        </foreach>
                    </ul>
                </div>

            </div>
     -->
       <!--         <br class="qc"> </div>
        </div>
 -->  

     <include file="Public/footer" />



</html>
