<!DOCTYPE html>
<html>
 <head>

   <link rel="stylesheet" href="[CSS]/style8.css">
  <include file="Public/header" />


    <div class="auto nei">

      <p class="weizhi"> 当前位置：
        <a href="/">首页</a>&gt;&gt;<a href="">麻将文化</a>
      </p>

<block name="content">
      <div class="fu_right news-index shipin-index">
        <div class="nei_left table2">

          <h3>{$on.title}</h3>
          <ul class="news-index-ul">
            <li>发布时间:{$on.Publish_time|date="Y-m月-d日 h:i:s",###}</li>
            <li>文章来源:{$config2.company_name}</li>
           <!--  <li>作者:闪念网络</li> -->
            <li>阅读量:{$on.click}</li>
          </ul>
          <!-- 百度分享 -->
          <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone"
             data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
             class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a
             href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

          <div class="">
               <p>{$on['content']|htmlspecialchars_decode}</p>
          </div>
          <ul class="news-index-ul page">
            <!-- 上一篇 -->
            <if condition="$prev eq ''">
            <li><a href="#" title="">
                  上一篇:暂无</a></li>
            <else/>
            <li>上一篇:<a href="{:U(''.CONTROLLER_NAME.'/page',array('id'=>$prev['article_id'],'catid'=>$prev['cat_id']))}">{$prev.title}</a></li>
            </if>
            <!-- 下一篇 -->
              <if condition="$next eq ''">
            <li><a href="#" title="">
                  下一篇:暂无</a></li>
            <else/>
            <li>下一篇:<a href="{:U(''.CONTROLLER_NAME.'/page',array('id'=>$next['article_id'],'catid'=>$next['cat_id']))}">{$next.title}</a></li>
            </if>
          </ul>
        </div>
      

     
<include file="Public/pl" />
  </block>

<include file="Public/conright" />
 <include file="Public/footer" />
  



    <script type="text/javascript" src="[JS]/min.js"></script>
    <script type="text/javascript">
      $(function() {
        $(window).scroll(function() {
          if ($(window).scrollTop() >= 46) { //向下滚动像素大于这个值时，即出现小火箭~
            $('.fu').addClass('fu1'); //火箭淡入的时间，越小出现的越快~
          } else {
            $('.fu').removeClass('fu1'); //火箭淡出的时间，越小消失的越快~
          }
        });
        $('.fua3').click(function() {
          $('html,body').animate({
            scrollTop: '0px'
          }, 800);
        }); //火箭动画停留时间，越小消失的越快~
      });


      $('.xzph li').hover(function() {
        $(this).removeClass('m_ei').siblings().addClass('m_ei')
      })
    </script>

    <script>
      var _content1 = [];
      var _content2 = [];
      var _content3 = [];
      var _content4 = []; //临时存储li循环内容
      var _content5 = [];

      var lanren = {
        _default: 8, //默认显示图片个数
        _loading: 8, //每次点击按钮后加载的个数
        init: function(a, b, c, d) {
          var lis = a;
          $(b).html("");
          for (var n = 0; n < lanren._default; n++) {
            lis.eq(n).appendTo(b);
          }

          for (var i = lanren._default; i < lis.length; i++) {
            d.push(lis.eq(i));
          }
          $(c).html('');
        },
        loadMore: function(a, b) {
          $(a).click(function() {
            var o = $(this).parent().children("ul.new_lst2");
            for (var i = 0; i < lanren._loading; i++) {
              var target = b.shift();
              if (!target) {
                $(this).html("<p class='quanbu'>全部加载完毕...</p>");
                break;
              }
              o.append(target);
            }

          })

        }
      }



      lanren.init($(".d1 .hidden li"), ".d1 .new_lst", ".d1 .hidden", _content1);
      lanren.loadMore('.d1 .more2', _content1)

      lanren.init($(".d2 .hidden li"), ".d2 .new_lst", ".d2 .hidden", _content2);
      lanren.loadMore('.d2 .more2', _content2)

      lanren.init($(".d3 .hidden li"), ".d3 .new_lst", ".d3 .hidden", _content3);
      lanren.loadMore('.d3 .more2', _content3)

      lanren.init($(".d4 .hidden li"), ".d4 .new_lst", ".d4 .hidden", _content4);
      lanren.loadMore('.d4 .more2', _content4)

      lanren.init($(".d5 .hidden li"), ".d5 .new_lst", ".d5 .hidden", _content5);
      lanren.loadMore('.d5 .more2', _content5)
    </script>
    <!-- 评论相关js -->
    <script type="text/javascript" src="[JS]/jquery.flexText.js"></script>
    <!--textarea高度自适应-->
    <script type="text/javascript">
      $(function() {
        $('.content').flexText();
      });
    </script>
    <!--textarea限制字数-->
    <script type="text/javascript">
      function keyUP(t) {
        var len = $(t).val().length;
        if (len >129) {
          $(t).val($(t).val().substring(0, 120));
        }
      }
    </script>
    <!--点击评论创建评论条-->
    <script type="text/javascript">
      $('.commentAll').on('click', '.plBtn', function() {
        var myDate = new Date();
        //获取当前年
        var year = myDate.getFullYear();
        //获取当前月
        var month = myDate.getMonth() + 1;
        //获取当前日
        var date = myDate.getDate();
        var h = myDate.getHours(); //获取当前小时数(0-23)
        var m = myDate.getMinutes(); //获取当前分钟数(0-59)
        if (m < 10) m = '0' + m;
        var s = myDate.getSeconds();
        if (s < 10) s = '0' + s;
        var now = year + '-' + month + "-" + date + " " + h + ':' + m + ":" + s;
        //获取输入内容
        var oSize = $(this).siblings('.flex-text-wrap').find('.comment-input').val();
        console.log(oSize);
        //动态创建评论模块
        oHtml =
          '<div class="comment-show-con clearfix"><div class="comment-show-con-img pull-left"><img src="images/header-img-comment_03.png" alt=""></div> <div class="comment-show-con-list pull-left clearfix"><div class="pl-text clearfix"> <a href="#" class="comment-size-name">David Beckham : </a> <span class="my-pl-con">&nbsp;' +
          oSize + '</span> </div> <div class="date-dz"> <span class="date-dz-left pull-left comment-time">' + now +
          '</span> <div class="date-dz-right pull-right comment-pl-block"><a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a> </div> </div><div class="hf-list-con"></div></div> </div>';
        if (oSize.replace(/(^\s*)|(\s*$)/g, "") != '') {
          $(this).parents('.reviewArea ').siblings('.comment-show').prepend(oHtml);
          $(this).siblings('.flex-text-wrap').find('.comment-input').prop('value', '').siblings('pre').find('span').text(
            '');
        }
      });
    </script>
    <!--点击回复动态创建回复块-->
    <script type="text/javascript">
      $('.comment-show').on('click', '.pl-hf', function() {
        //获取回复人的名字
        var fhName = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.pl-text').find('.comment-size-name')
          .html();
        //回复@
        var fhN = '回复@' + fhName;
        //var oInput = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.hf-con');
        var fhHtml =
          '<div class="hf-con pull-left"> <textarea class="content comment-input hf-input" placeholder="" onkeyup="keyUP(this)"></textarea> <a href="javascript:;" class="hf-pl">评论</a></div>';
        //显示回复
        if ($(this).is('.hf-con-block')) {
          $(this).parents('.date-dz-right').parents('.date-dz').append(fhHtml);
          $(this).removeClass('hf-con-block');
          $('.content').flexText();
          $(this).parents('.date-dz-right').siblings('.hf-con').find('.pre').css('padding', '6px 15px');
          //console.log($(this).parents('.date-dz-right').siblings('.hf-con').find('.pre'))
          //input框自动聚焦
          $(this).parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val(fhN);
        } else {
          $(this).addClass('hf-con-block');
          $(this).parents('.date-dz-right').siblings('.hf-con').remove();
        }
      });
    </script>
    <!--评论回复块创建-->
    <script type="text/javascript">
      $('.comment-show').on('click', '.hf-pl', function() {
        var oThis = $(this);
        var myDate = new Date();
        //获取当前年
        var year = myDate.getFullYear();
        //获取当前月
        var month = myDate.getMonth() + 1;
        //获取当前日
        var date = myDate.getDate();
        var h = myDate.getHours(); //获取当前小时数(0-23)
        var m = myDate.getMinutes(); //获取当前分钟数(0-59)
        if (m < 10) m = '0' + m;
        var s = myDate.getSeconds();
        if (s < 10) s = '0' + s;
        var now = year + '-' + month + "-" + date + " " + h + ':' + m + ":" + s;
        //获取输入内容
        var oHfVal = $(this).siblings('.flex-text-wrap').find('.hf-input').val();
        console.log(oHfVal)
        var oHfName = $(this).parents('.hf-con').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        var oAllVal = '回复@' + oHfName;
        if (oHfVal.replace(/^ +| +$/g, '') == '' || oHfVal == oAllVal) {

        } else {
          $.getJSON("json/pl.json", function(data) {
            var oAt = '';
            var oHf = '';
            $.each(data, function(n, v) {
              delete v.hfContent;
              delete v.atName;
              var arr;
              var ohfNameArr;
              if (oHfVal.indexOf("@") == -1) {
                data['atName'] = '';
                data['hfContent'] = oHfVal;
              } else {
                arr = oHfVal.split(':');
                ohfNameArr = arr[0].split('@');
                data['hfContent'] = arr[1];
                data['atName'] = ohfNameArr[1];
              }

              if (data.atName == '') {
                oAt = data.hfContent;
              } else {
                oAt = '回复<a href="#" class="atName">@' + data.atName + '</a> : ' + data.hfContent;
              }
              oHf = data.hfName;
            });

            var oHtml =
              '<div class="all-pl-con"><div class="pl-text hfpl-text clearfix"><a href="#" class="comment-size-name">我的名字 : </a><span class="my-pl-con">' +
              oAt + '</span></div><div class="date-dz"> <span class="date-dz-left pull-left comment-time">' + now +
              '</span> <div class="date-dz-right pull-right comment-pl-block"> <a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a> </div> </div></div>';
            oThis.parents('.hf-con').parents('.comment-show-con-list').find('.hf-list-con').css('display', 'block').prepend(
                oHtml) && oThis.parents('.hf-con').siblings('.date-dz-right').find('.pl-hf').addClass('hf-con-block') &&
              oThis.parents('.hf-con').remove();
          });
        }
      });
    </script>
    <!--删除评论块-->
    <script type="text/javascript">
      $('.commentAll').on('click', '.removeBlock', function() {
        var oT = $(this).parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con');
        if (oT.siblings('.all-pl-con').length >= 1) {
          oT.remove();
        } else {
          $(this).parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con').parents('.hf-list-con').css(
            'display', 'none')
          oT.remove();
        }
        $(this).parents('.date-dz-right').parents('.date-dz').parents('.comment-show-con-list').parents(
          '.comment-show-con').remove();

      })
    </script>
    <!--点赞-->
    <script type="text/javascript">
      $('.comment-show').on('click', '.date-dz-z', function() {
        var zNum = $(this).find('.z-num').html();
        if ($(this).is('.date-dz-z-click')) {
          zNum--;
          $(this).removeClass('date-dz-z-click red');
          $(this).find('.z-num').html(zNum);
          $(this).find('.date-dz-z-click-red').removeClass('red');
        } else {
          zNum++;
          $(this).addClass('date-dz-z-click');
          $(this).find('.z-num').html(zNum);
          $(this).find('.date-dz-z-click-red').addClass('red');
        }
      })
    </script>
  </body>
</html>
