<!DOCTYPE HTML>
<html class="">
    <head>

             <script src="[JS]/product_cn.js"></script>
        <include file="Public/header" />


       <include file="Public/fuye" />


            <div class="subcolumn_nav_met_21_1_34" m-id='34' m-type='nocontent'>
                <div class="container">
                    <div class="row">
                        <div class="clearfix">
                            <div class="subcolumn-nav text-xs-left">
                             <!--    <ul class="subcolumn_nav_met_21_1_34-ul m-b-0 p-y-10 p-x-0 ulstyle">
                             
                                 <li>
                                     <a href="https://mb.mituo.cn/mui618/product/" title="全部" class="active link">全部</a>
                                 </li>
                                 <li>
                                     <a href="https://mb.mituo.cn/mui618/product/product.php?class2=36" title="商标服务" class=' link'>商标服务</a>
                                 </li>
                             
                             </ul> -->
                            </div>
                            <div class="subcolumn-nav-location clearfix ulstyle">
                                <li class="location">
                                    您的位置： </li>
                                <li>
                                    <a href="https://mb.mituo.cn/mui618/" title="网站首页">
                                        网站首页 </a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="https://mb.mituo.cn/mui618/product/" target='_self' title="业务领域">业务领域</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <main class="product_list_page_met_21_2_31 met-product animsition " m-id='31'>
                <div class="container">
                    <div class="row clearfix     left">
                        <div class="col-md-9 met-product-body">
                            <div class="row">
                                <ul class="             blocks-xs-2                     blocks-md-2 blocks-lg-4 blocks-xxl-4  met-pager-ajax imagesize cover met-product-list met-grid"
                                 id="met-grid" data-scale='263x423'>



                                    <foreach name="list" item="v">
                                    <li class="prd-li" data-plugin="appear" data-animate="slide-bottom50" data-repeat="false">
                                        <div class="prd-box">
                                            <a href="{:U('Goods/page',array('goodsid'=>$v['goods_id']))}" title="" class="img-url" target=_self>
                                                <img class="img-con" data-original="{$v.original_img}" alt="{$v.goods_name}" style="width:100%;" />
                                            </a>
                                            <div class="prd-li-title">
                                                <p>
                                                    <a href="" title="{$v.goods_name}" target=_self>
                                                        {$v.goods_name} </a>
                                                </p>
                                                <span class="bor-bot"></span>
                                                <p class="prd-desc"></p>
                                                <p class='m-b-0 m-t-5 price'></p>
                                            </div>
                                        </div>
                                    </li>
                                    </foreach>
                                </ul>
                                <div class='m-t-20 text-xs-center hidden-sm-down' m-type="nosysdata">
                                    <div class='met_pager'>
                                        {$page}
                                <!--         <span class='PreSpan'>上一页</span><a href='https://mb.mituo.cn/mui618/product/product.php?class1=35'
                                 class='Ahover'>1</a><a href='https://mb.mituo.cn/mui618/product/index.php?class1=35&page=2'>2</a><a href='https://mb.mituo.cn/mui618/product/index.php?class1=35&page=2'
                                 class='NextA'>下一页</a>
                                <span class='PageText'>转至第</span>
                                <input type='text' id='metPageT' data-pageurl='index.php?lang=cn&class1=35&page=||2' value='1' />
                                <input type='button' id='metPageB' value='页' />
                                 -->

                                    </div>
                                </div>
                                <div class="met_pager met-pager-ajax-link hidden-md-up" data-plugin="appear" data-animate="slide-bottom"
                                 data-repeat="false" m-type="nosysdata">
                                    <button type="button" class="btn btn-primary btn-block btn-squared ladda-button" id="met-pager-btn"
                                     data-plugin="ladda" data-style="slide-left" data-url="" data-page="1">
                                        <i class="icon wb-chevron-down m-r-5" aria-hidden="true"></i>
                                    </button>
                                </div>

                            </div>
                        </div>



                        <div class="col-md-3">
                       <div class="row">
                           <aside class="sidebar_met_16_3_78 met-sidebar panel-body m-b-0     " boxmh-h m-id='78' m-type='nocontent'>
                               <h2 class="sidebar-tile">
                                   <a href="" tite="业务领域" class="                           active
                   " target='_self'>业务领域
                                   </a>
                               </h2>
                               <ul class="sidebar-column list-icons panel-group">

                                <foreach name="location" item="v">
                                   <li>
                                       <a href="{:U('Goods/index',array(catid=>$v['id']))}" title="商标服务" class=''>{$v.name}<i class="wb-chevron-right-mini pull-xs-right m-r-20 m-t-0 font-size-16"></i></a>
                                   </li>
                                </foreach>
                               </ul>


                               <h2 class="sidebar-tile"><span>联系我们</span></h2>
                  <div class="side-tel met-editor">
                    <p style="white-space: normal; text-align: center;"><img src="[IMG]/1560239237281878.jpg" title="图片关键词" alt="图片关键词" /></p>
                    <ul class=" list-paddingleft-2" style="width: 796.094px; white-space: normal;">
                      <li>
                        <p><span style="font-size: 14px;">{$config2.company_name}</span></p>
                      </li>
                      <li>
                        <p><span style="font-size: 14px;">联系人：{$cinfig2.contact}</span></p>
                      </li>
                   
                      <li>
                        <p><span style="font-size: 14px;">座机：{$config2.phone}</span></p>
                      </li>
                      <li>
                        <p><span style="font-size: 14px;">手机：{$config2.mobile}</span></p>
                      </li>
                      <li>
                        <p><span style="font-size: 14px;">邮箱：{$config2.email}</span></p>
                      </li>
                      <li>
                        <p><span style="font-size: 14px;">地址：{$place[$config2['province']]}{$place[$config2['city']]}{$place[$config2['district']]}{$config2['address']}</span></p>
                        <div><br /></div>
                      </li>
                    </ul>
                  </div>
                           <!--     <h2 class="sidebar-tile m-t-25"><span></span></h2>
                           <form class='sidebar-search' method='get' action="https://mb.mituo.cn/mui618/search/search.php">
                               <input type='hidden' name='lang' value='cn' />
                               <input type='hidden' name='class1' value='35' />
                               <div class="form-group">
                                   <div class="input-search">
                                       <button type="submit" class="input-search-btn">
                                           <i class="icon wb-search" aria-hidden="true"></i>
                                       </button>
                                       <input type="text" class="form-control" name="searchword" placeholder="search">
                                   </div>
                               </div>
                           </form> -->
                   
                   
                           </aside>
                       </div>
                   </div>
                   


                    </div>
                </div>
            </main>


    <include file="Public/footer" />

             <script src="[JS]/product_cn.js"></script>
        </body>

</html>
