<!DOCTYPE html>
<html>
 <head>
   <include file="Public/header" />
 
    

        <div class="auto nei">
            <div class="fu">
                <img src="[IMG]/a_17.png">
                <a class="fua1" target="_blank" href="tencent://message/?uin={$config2.qq}&Site=uemo&Menu=yes"></a>
                <a class="fua2" href="javascript:"></a>
                <a class="fua3" href="javascript:"></a>


                <div class="pa border er_wei" style="text-align:center;color:black;">
                    <b>{$config2.company_name}</b>
                    <br>微信公众号



                    <img style="width:99px;height:99px;" alt="" src="{$weixin[0].ad_code}">

                    <i class="pa bgPng"></i>
                </div>

            </div>

            <p class="weizhi"> 当前位置：
                <a href="/">首页</a>&gt;&gt;<a href="">{$now.cat_name}</a>
            </p>



                <div class="nei_left table1 table2">
                    <img src="[IMG]/a_45.png" class="ico">
                    <p class="youxi youxi2" style="margin-top: -10px; width: 931px; font-size: 16px;padding-top: 0px; margin-left: 10px;">
                        <b class="tab tab3">
                            <span class="zhong">{$now.cat_name} </span>

                        </b>
                    </p>
                    <br class="qc" />
                    <div class="hide show d1">
                        <ul class="new_lst hidden">
                            <foreach name="list" item="v">
                            <li>
                                <div class="lst_left">
                                    <a href="{:U('News/page',array('id'=>$v['article_id'],'catid'=>$v['cat_id']))}"><img src="{$v.thumb}" alt="{$v.title}"></a>
                                </div>
                                <div class="lst_right">
                                    <a href="{:U('News/page',array('id'=>$v['article_id'],'catid'=>$v['cat_id']))}">
                                        <div class="hhh1">{$v.title}</div>
                                        <div class="hhh2">
                                           {$v.description}</div>
                                    </a>
                                    <div class="hhh3"><a href="{:U('News/page',array('id'=>$v['article_id'],'catid'=>$v['cat_id']))}">查看详情>></a> 发布时间：{$v.publish_time|date="Y-m-d h:i:s",###}</div>
                                </div>
                            </li>
                            </foreach>


                            <br class="qc" />
                        </ul>

                        <ul class="page-ul">
                            {$page}
                 
                        </ul>

                    </div>
               
                </div>
				
				
            <div class="fu_left">
                <div class="yxxz_right yxxz_right2" style="position:relative">
                    <img src="[IMG]/a_20.png" class="ico2">
                    <p class="youxi youxi3">
                        <span>热门文章</span>
                    </p>
                    <br class="qc">

                    <ul class="index-news majiang-right">
                        <foreach name="list" item="v">
                        <li>
                            <a href="">
                                <img class="" src="{$v.thumb}" alt="">
                                <h4>{$v.title}</h4>
                                <time>06/27</time>
                            </a>
                        </li>
                    </foreach>
                    </ul>
                </div>

                <div class="yxxz_right yxxz_right2" style="position:relative">
                    <img src="[IMG]/a_20.png" class="ico2">
                    <p class="youxi youxi3">
                        <span>游戏下载</span>
                        <br class="qc">
                    </p>

                    <ul class="left_yx">
                        <foreach name="down" item="v" >
                        <li><img class="le_ft_iamg" src="[IMG]/5ad1a8e5ab439.png" alt="阿闪打拱">
                            <p>{$v.file_name}<br />
                                <span>{$v.cat_name}</span></p>
                            <div class="oz">
                                <a class="fl bgPng s_3 s_4" onclick=disp_confirm()>游戏下载</a>
                            </div>

                        </li>
                        </foreach>
                    </ul>
                </div>

            </div>				
            </div>  
            
    
       <!--         <br class="qc"> </div>
        </div>
 -->

     <include file="Public/footer" />



</html>
