<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" />

		<div class="auto nei">
			<div class="in_abut">

				<ul class="taba">
					<foreach name="aba" item="v">
					<a href="{:U('Brand/page_q',array('id'=>$v['article_id'],'catid'=>$v['cat_id']))}">
						<li>{$v.title}</li>
					</a>
					</foreach>
				</ul>


				<div class="at_right">

					<div class="in_right about1" style=" width: 1078px;">
						<h1 class="h1">{$article.title}</h1>
						{$article['content']|htmlspecialchars_decode}
					
						<img src="img/5ad953cb30942.jpg" alt="">
					</div>


				</div>


				<br class="qc" />
			</div>

		</div>

		</div>

	<include file="Public/footer" />


	</body>
	<script type="text/javascript" src="js/min.js"></script>
	<script type="text/javascript">
		$(function() {
			$(window).scroll(function() {
				if ($(window).scrollTop() >= 46) { //向下滚动像素大于这个值时，即出现小火箭~
					$('.fu').addClass('fu1'); //火箭淡入的时间，越小出现的越快~
				} else {
					$('.fu').removeClass('fu1'); //火箭淡出的时间，越小消失的越快~
				}
			});
			$('.fua3').click(function() {
				$('html,body').animate({
					scrollTop: '0px'
				}, 800);
			}); //火箭动画停留时间，越小消失的越快~
		});


		$('.xzph li').hover(function() {
			$(this).removeClass('m_ei').siblings().addClass('m_ei')
		})
	</script>

</html>
<!--移动代码适配开始-->
<script type="text/javascript">
	var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito",
		"webmate", "bada", "nokia", "lg", "ucweb", "skyfire");

	var browser = navigator.userAgent.toLowerCase();

	var isMobile = false;

	for (var i = 0; i < mobileAgent.length; i++) {
		if (browser.indexOf(mobileAgent[i]) != -1) {
			isMobile = true;

			//alert(mobileAgent[i]); 

			location.href = 'm/guanyuwomen.html';

			break;
		}
	}
</script>
