<div class="banner_met_16_3_71box     ">
				<div class="banner_met_16_3_71 page-bg" data-height='' style='' m-id='71' m-type='banner'>
					<div class="slick-slide">
						<img class="cover-image" src="{$banner2.ad_code}" srcset='{$banner2.ad_code}'
						 sizes="(max-width: 767px) 767px" alt="" data-height='0|0|0'>
					</div>
				</div>
				<div class="met-index-case">
					<div class="container">
						<div class="case" id="case">
							<ul class="sliderbox row">
							<foreach name="news2" item="v">
                <li class="a-list">
                  <a href="">{$v.title}?</a>
                </li>
                </foreach>
							
							</ul>
						</div>
					</div>
				</div>
			</div>  