
        <meta charset="utf-8" />
        <title>{$config2.store_title}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="[CSS]/init.css" />
        <link rel="stylesheet" href="[CSS]/main.css" />
        
        <link rel="stylesheet" href="[CSS]/jsmodern.min.css">
        <link rel="stylesheet" href="[CSS]/comment.css">
        <link rel="stylesheet" type="text/css" href="[CSS]/tab.css"/>
        <script type="text/javascript" src="[JS]/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="[JS]/jquery.jslides.js"></script>
        <script type="text/javascript" src="[JS]/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="[JS]/jquery.touchslider.js"></script>
				<script type="text/javascript" src="[JS]/superslide.js"></script>
      
    <!--移动代码适配开始-->
        <script type="text/javascript">
            var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito",
                "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");

            var browser = navigator.userAgent.toLowerCase();

            var isMobile = false;

            for (var i = 0; i < mobileAgent.length; i++) {
                if (browser.indexOf(mobileAgent[i]) != -1) {
                    isMobile = true;

                    //alert(mobileAgent[i]); 

                    location.href = '/';

                    break;
                }
            }
        </script>
        <!--移动代码适配结束-->
         
        
     <!--    <script type="text/javascript">
            var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos","incognito",
                "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");

            var browser = navigator.userAgent.toLowerCase();

            var isMobile = false;

            for (var i = 0; i < mobileAgent.length; i++) {
                if (browser.indexOf(mobileAgent[i]) != -1) {
                    isMobile = true;

                    //alert(mobileAgent[i]); 

                    location.href = './m/index.html';

                    break;
                }
            }
        </script> -->
    </head>
    <body>
		<!-- 侧边栏 -->
		<!-- <div class="fu">
			<img src="[IMG]/a_17.png">
			<a class="fua1" target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=3180235251&Site=http://www.ashangame.com/&Menu=yes"></a>
			<a class="fua2" href="javascript:"></a>
			<a class="fua3" href="javascript:"></a>
			<div class="pa border er_wei" style="text-align:center;color:black;">
				<b>阿闪游戏</b>
				<br>微信公众号
				<img style="width:99px;height:99px;" alt="" src="[IMG]/59b8deb699966.jpg">
				<i class="pa bgPng"></i>
			</div>
		</div>		
		 -->
        <div class="head">
             <div class="auto headtop">
                <p>咨询电话:{$config2.phone}
                <!--     <php>echo LOG_PATH;</php> -->
                </p>
                <div class="kefu">
                    <a href="javascript:void(0)" class="gzhao"><img src="[IMG]/a_06.png"></a>
                    <a rel="nofollow" href="tencent://message/?uin={$config2.qq}&Site=QQ交谈&Menu=yes"> <img src="[IMG]/a_03.png"></a>
                    <div class="gzh">
                        <span>扫码关注微信公众号</span>
                        <img src="{$weixin[0].ad_code}" class="toperwei" style="width: 190px;"> </div>
                </div>
            </div>
            <div class="xian"></div>
            <div class="auto headlogo">
                <a href="/">
            <img src="{$config2.store_logo}" alt="{$config2.compay_name}" style="widt:15%">

                </a>
                <ul class="dh">
                    <a href="/">
                        <li <if condition="CONTROLLER_NAME eq Index ">class="xz"</if>>网站首页</li>
                    </a>

                    <foreach name="nav" item="v">
                    <a href="{$v.url}">
                        <li <if condition="__INFO__ eq $v.location ">class="xz"</if>>{$v.name}</li>
                    </a>    
                     </foreach>
               
                </ul>
            </div>
        </div>
