  <!-- 评论  -->
        <div class="nei_left table2" style="margin-top: 8px;">

          <div class="commentAll">
            <!--评论区域 begin-->
            <!-- <div class="reviewArea clearfix">
              <textarea class="content comment-input" placeholder="请输入你想要评论的内容" onkeyup="keyUP(this)"></textarea> 
              <a href="javascript:;" class="plBtn">欢迎在底部评论区发表高见 ！</a>
            </div>-->
            <!--评论区域 end-->
            <!--回复区域 begin
<div class="comment-show-con-img pull-left"><img src="images/header-img-comment_03.png" alt=""></div>   <!--  <a href="javascript:;" class="removeBlock">删除</a> -->
                     <!--  <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> -->
                      
  <foreach name="liuyan" item="v">
            <div class="comment-show">

              <div class="comment-show-con clearfix">

          
                <div class="comment-show-con-list pull-left clearfix">

                  <div class="pl-text clearfix">
                    <a href="#" class="comment-size-name">{$v.name} : </a>
                    <span class="my-pl-con">&nbsp;{$v.message}</span>
                  </div>

                  <div class="date-dz">发表于{$v.time|date="Y年-m月-d日 h:i:s",###}</span>
                    <div class="date-dz-right pull-right comment-pl-block">
                   
                      <span class="pull-left date-dz-line">|</span>
                      <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a>
                    </div>
                  </div>
                  <div class="hf-list-con"></div>
                </div> 
              



              </div>
            </div></foreach>
            <!--回复区域 end-->
          </div>



        </div>