     <!-- https://www.szhaokuaiji.cn/download/list-34.html -->
     <div class="col-md-3">
                <div class="row">

                    <div class="met-news-bar">

                        <form method='get' action="#">
                            <input type='hidden' name='lang' value='cn' />
                            <input type='hidden' name='class1' value='2' />
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    <input type="text" class="form-control" name="searchword" placeholder="Search">
                                </div>
                            </div>
                        </form>

                        <div class="recommend news-list-md">
                            <h3>为您推荐</h3>
                            <ul class="list-group list-group-bordered">
                            <foreach name="newshot" item="v">
            <li class="list-group-item"><a href="{:U('Home/News/page',array('id'=>$v['article_id']))}" title="{$v.title}" target='_self'>
                                    {$v.title}</a></li>
                            </foreach>

                            </ul>
                        </div>

                      <!--   <ul class="column">
                            <li><a href="https://www.szhaokuaiji.cn/news/" title="所有文章" target='_self'>所有文章</a></li>

                            <li><a href="https://www.szhaokuaiji.cn/news/list-4.html"  title="工商政策">工商政策</a></li>



                        </ul>
 -->
                    </div>

                </div>
            </div>