<!DOCTYPE html>
<html>
 <head>
   <include file="Public/header" />


        <!-- 轮播图333334开始 -->
        <div class="lunbowai">
            <div class="main_visual">
				<div class="flicking_con">
					<a href="javascript:"></a>
					<a href="javascript:"></a>
					<a href="javascript:"></a>
				</div>
                <div class="main_image">
                    <ul>
                        <foreach name="banner" item="v">
                     
                        <li>

                            <img class="img_1" src="{$v.ad_code}">
                            <!--  
                            <span  style="background:url("{$v.ad_code}") center top no-repeat"></span>-->

                        </li>
                        </foreach>

                    </ul>

                    <a href="javascript:" id="btn_prev"></a>
                    <a href="javascript:" id="btn_next"></a>

                </div>
            </div>
            <!-- 轮播图结束 -->

            <div class="auto nei">

                <div class="nei_left nei_leftjiapd">
                    <img src="[IMG]/a_20.png" class="ico ico1">
                    <p class="youxi" style="  width: 94%;">


                        <i class="more" style=" padding-top: 5px;">更多>></i>
                        <strong><span>麻将介绍</span></strong>

                    </p>
                    <div class="index-jieshao">
                      <p>{$about2.description|htmlspecialchars_decode}</p>
                    </div>
                    
<div class="demo">  
    <div class="ico-img">
        <img src="[IMG]/a_45.png" class="ico">
        <ul class="tabbtn" id="normaltab">
            <li class="current"><a href="">麻将规则</a></li>
            <li><a href="">麻将技巧</a></li>
            <li><a href="#">麻将文化</a></li>
        </ul>       
    </div>
    <div class="tabcon" id="normalcon">
        <div class="sublist">
            <div class="nes">
                <a href="#" style=" float: left;">
                    <img src="{$newguize[0].thumb}" alt="newguize[0].title" style=" ">
                </a>
                <div class="nes_ri">
                    <a href="#">
                        <h3>{$newguize[0].title}</h3>
                    </a>
                    <p> &nbsp; &nbsp; {$newguize[0].description}<a href="#">[详情]</a>
                    </p>        
                </div> 
                <br class="qc">
                <ul class="last">
                    <a href="#">
                        <li><span>{$newguize[1].publish_time|date="Y-m-d h:i:s",###}</span>{$newguize[1].title}</li>
                    </a>
                    <a href="#">
                        <li><span>{$newguize[2].publish_time|date="Y-m-d h:i:s",###}</span>{$newguize[2].title}</li>
                    </a>                                    
                </ul>
            </div>
        </div>



        <!--tabcon end-->

        <div class="sublist">
            <div class="nes">
                <a href="#" style=" float: left;">
                    <img src="{$qwe[0].thumb}" alt="{$qwe[0].title}" style=" ">
                </a>
                <div class="nes_ri">
                    <a href="#">
                        <h3>{$qwe[0].title}</h3>
                    </a>
                    <p> &nbsp; &nbsp; {$qwe[0].description}<a href="#">[详情]</a>
                    </p>        
                </div> 
                <br class="qc">
                <ul class="last">
                    <a href="#">
                        <li><span>{$qwe[1].publish_time|date="Y-m-d h:i:s",###}</span>{$qwe[1].title}</li>
                    </a>
                    <a href="#">
                        <li><span>{$qwe[2].publish_time|date="Y-m-d h:i:s",###}</span>{$qwe[2].title}</li>
                    </a>                    
                </ul>
            </div>

        </div><!--tabcon end-->

        <div class="sublist">
            <div class="nes">
                <a href="#" style=" float: left;">
                    <img src="{$newwenh[0].thumb}" alt="{$newwenh[0].title}" style=" ">
                </a>
                <div class="nes_ri">
                    <a href="#">
                        <h3>{$newwenh[0].title}</h3>
                    </a>
                    <p> &nbsp; &nbsp; {$newwenh[0].description}<a href="#">[详情]</a>
                    </p>        
                </div> 
                <br class="qc">
                <ul class="last">
                    <a href="#">
                        <li><span>{$newwenh[1].publish_time|date="Y-m-d h:i:s",###}</span>{$newwenh[1].title}</li>
                    </a>
                    <a href="#">
                        <li><span>{$newwenh[2].publish_time|date="Y-m-d h:i:s",###}</span>{$newwenh[2].title}</li>
                    </a>                    
                </ul>
            </div>

        </div><!--tabcon end-->


    </div><!--tabcon end-->

</div>

                    
    <!-- 广东麻将 -->
<div class="demo">  
    <div class="ico-img">
        <img src="[IMG]/a_45.png" class="ico">
        <ul class="tabbtn" id="normaltab6">
              <foreach name="newww" item="v">
            <li class="current">
              
                <a href="">{$v.title}</a></li>
                </foreach>
     <!--        <li><a href="">四川麻将</a></li>
            <li><a href="#">长沙麻将</a></li>
            <li><a href="#">贵阳麻将</a></li>
            <li><a href="#">广东麻将</a></li> -->
        </ul>       
    </div>

    <div class="tabcon" id="normalcon6">

        <foreach name="newww" item="v">
        <div class="sublist">
            <div class="nes">
                <div class="nes_ri index-nes_ri">
                    <a href="#">
                        <h3>{$v.title}</h3>
                    </a>
                    <p>{$v.description}<a href="#">[阅读全文]</a></p>
                </div>
            </div>
        </div>
        </foreach>

        <div class="sublist">
            <div class="nes">
                <div class="nes_ri index-nes_ri">
                    <a href="#">
                        <h3>麻将介绍222</h3>
                    </a>
                    <p> 麻将，起源于中国，粤港澳及闽南地区俗称麻雀，由中国古人发明的博弈游戏，娱乐用具，一般用竹子、骨头或塑料制成的小长方块，上面刻有花纹或字样，北方麻将每副136张，南方麻将多八个花牌，分别是春夏秋冬，梅竹兰菊，共计144张。四人骨牌博戏，流行于华人文化圈中。在明末清初马吊牌盛行的同时，由马吊牌又派生出一种叫“纸牌”的戏娱用具。纸牌开始共有60张。斗纸牌时，四人各先取十张，以后再依次取牌、打牌。一家打出牌，两家乃至三家同时告知，以得牌在先者为胜。这些牌目及玩法就很像今天的麻将牌了。这种牌戏在玩的过程中始终默不作声，所以又叫默和牌222。...<a href="#">[阅读全文]</a></p>
                </div>
            </div>

        </div>
        <div class="sublist">
            <div class="nes">
                <div class="nes_ri index-nes_ri">
                    <a href="#">
                        <h3>麻将介绍333</h3>
                    </a>
                    <p> 麻将，起源于中国，粤港澳及闽南地区俗称麻雀，由中国古人发明的博弈游戏，娱乐用具，一般用竹子、骨头或塑料制成的小长方块，上面刻有花纹或字样，北方麻将每副136张，南方麻将多八个花牌，分别是春夏秋冬，梅竹兰菊，共计144张。四人骨牌博戏，流行于华人文化圈中。在明末清初马吊牌盛行的同时，由马吊牌又派生出一种叫“纸牌”的戏娱用具。纸牌开始共有60张。斗纸牌时，四人各先取十张，以后再依次取牌、打牌。一家打出牌，两家乃至三家同时告知，以得牌在先者为胜。这些牌目及玩法就很像今天的麻将牌了。这种牌戏在玩的过程中始终默不作声，所以又叫默和牌333。...<a href="#">[阅读全文]</a></p>
                </div>
            </div>

        </div>
        <div class="sublist">
            <div class="nes">
                <div class="nes_ri index-nes_ri">
                    <a href="#">
                        <h3>麻将介绍444</h3>
                    </a>
                    <p> 麻将，起源于中国，粤港澳及闽南地区俗称麻雀，由中国古人发明的博弈游戏，娱乐用具，一般用竹子、骨头或塑料制成的小长方块，上面刻有花纹或字样，北方麻将每副136张，南方麻将多八个花牌，分别是春夏秋冬，梅竹兰菊，共计144张。四人骨牌博戏，流行于华人文化圈中。在明末清初马吊牌盛行的同时，由马吊牌又派生出一种叫“纸牌”的戏娱用具。纸牌开始共有60张。斗纸牌时，四人各先取十张，以后再依次取牌、打牌。一家打出牌，两家乃至三家同时告知，以得牌在先者为胜。这些牌目及玩法就很像今天的麻将牌了。这种牌戏在玩的过程中始终默不作声，所以又叫默和牌444。...<a href="#">[阅读全文]</a></p>
                </div>
            </div>
        </div>
        <div class="sublist">
            <div class="nes">
                <div class="nes_ri index-nes_ri">
                    <a href="#">
                        <h3>麻将介绍555</h3>
                    </a>
                    <p> 麻将，起源于中国，粤港澳及闽南地区俗称麻雀，由中国古人发明的博弈游戏，娱乐用具，一般用竹子、骨头或塑料制成的小长方块，上面刻有花纹或字样，北方麻将每副136张，南方麻将多八个花牌，分别是春夏秋冬，梅竹兰菊，共计144张。四人骨牌博戏，流行于华人文化圈中。在明末清初马吊牌盛行的同时，由马吊牌又派生出一种叫“纸牌”的戏娱用具。纸牌开始共有60张。斗纸牌时，四人各先取十张，以后再依次取牌、打牌。一家打出牌，两家乃至三家同时告知，以得牌在先者为胜。这些牌目及玩法就很像今天的麻将牌了。这种牌戏在玩的过程中始终默不作声，所以又叫默和牌555。...<a href="#">[阅读全文]</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
                    
                </div>


                <div class="yxxz_right yxxz_right2" style=" position:relative">
                    <img src="[IMG]/a_20.png" class="ico2">
                    <p class="youxi youxi3">
                        <span>游戏下载</span>
                        <br class="qc">
                    </p>

                    <ul class="left_yx">
                        <foreach name="down" item="v">
                        <li><img class="le_ft_iamg" rel="external nofollow" src="{$v.original_img}" alt="goods_nam">
                            <p>{$v.goods_name}<br/>
                                <span>{$v.consult} <br/>大小：{$v.store_count}M</span></p>
                            <div class="oz">
                                <!-- href="{:U('Base/download',array('fid'=>$v['fid']))} onclick=disp_confirm()-->
                                <a  class="fl bgPng s_3 s_4 " style="cursor:pointer" rel="external nofollow"  href={:U('Goods-page',array('goodsid'=>$v['goods_id']))} >游戏下载</a>
                       <!--      <script type="text/javascript">
                            function disp_confirm()
                              {
                              var r=confirm("确认下载？")
                              if (r==true)
                                {
                                window.location.assign('{:U('Base/download',array('fid'=>$v['fid']))}')
                                }
                              else
                                {
                                return false;
                                }
                              }
                            </script> -->
                            </div>
                        </li>
                    </foreach>
                 
                    </ul>
                </div>


            
                <div class="nei_left nei_right " style=" height: 313px;">
                    <img src="[IMG]/a_23.png" class="ico">
                    <p class="youxi">
                        <a class="more" href="{:U('News/index')}" style=" padding-top: 5px;">更多>></a>
                        <span>最新资讯</span>
                    </p>
                    <br class="qc" />

                    <ul class="nws">
                        <foreach name="newshot" item="v">
                        <a href="{:U('News/page',array('id'=>$v['article_id'],'cat_id'=>'31'))}">
                            <li><span>
                             {$v.cat_name}</span>{$v.title}</li>
                        </a>
                        </foreach>
                    </ul>
                </div>

                <div class="nei_left nei_left3">
                    <img src="[IMG]/a_55.png" class="ico ico1">
                    <p class="youxi" style="width: 93%;"><a class="more" href="/huodongzhongxin" style=" padding-top: 5px;">更多>></a>
                        <span>麻将视频</span>
                    </p>

                    <ul class="index-video">
                        <foreach name="ship" item="v">
                        <li>
                        <video controls="" loop="" poster="[IMG]/5ad961c494ac3.jpg" style=" height:277px;">
                            <source src="{$v.link}" type="video/mp4">
                        </video>
                        <a href="#"><h3>{$v.title}</h3></a>       
                        </li>
                        </foreach>
                    </ul>

                </div>

                <div class="nei_left nei_left4">
                    <img src="[IMG]/a_68.png" class="ico ico1">
                    <p class="youxi youxi2">
                        <!-- <a class="more" href="#">更多>></a> -->
                        <b class="tab tab2">
                            <!-- <a class="zhong" href="javascript:">合作商家</a> -->
                            <span>友情链接</span>
                        </b>
                    </p>
                    <br class="qc">

<!--                    <div class="hide show">
                        <ul class="hzpp">

                            <li><img src="[IMG]/59c4872cae14b.jpg"></li></a>
                            <li><img src="[IMG]/5a4451831aa11.jpg"></li></a>
                            <li><img src="[IMG]/5a44518cbc292.jpg"></li></a>
                            <li><img src="[IMG]/5a4451971767d.jpg"></li></a>
                            <li><img src="[IMG]/5a4451a12c60b.jpg"></li></a> <br class="qc">
                        </ul>

                    </div> -->
                    <div class="hide show">
                        <ul class="hzpp lianjie">
                            <foreach name="flink" item="v">
                            <li><a href="{$v.link_url}" target="_blank">{$v.link_name}</a></li>
                            </foreach>
                        </ul>
                    </div>


                </div>

<include file="Public/footer" />
<script type="text/javascript">
$(document).ready(function($){
    //默认选项卡切换
    $("#normaltab").tabso({
        cntSelect:"#normalcon",
        tabEvent:"mouseover",

        tabStyle:"normal"
    });
    //默认选项卡切换2
    $("#normaltab6").tabso({
        cntSelect:"#normalcon6",
        tabEvent:"mouseover",

        tabStyle:"normal"
    });
});

</script>   

</html>
