
<!DOCTYPE HTML>
<html>
<head>
<include file="Public/header" />


	<div class="met-banner">
		<div class="carousel slide" id="met-banner-slide" data-ride="carousel">

			<div class="carousel-inner " role="listbox">

				<div class="item active">

					<picture>
						<source srcset="{$banner2.ad_code}" media="(min-width: 768px)" />
						<img 
							class="cover-image overlay-scale" 
							srcset="{$banner2.ad_code}" 
							alt="" 
						/>
					</picture>
					<div class="carousel-caption p-">
                          <h3 class="animation-slide-top animation-delay-300" style="color:"></h3>
                          <p class="animation-slide-bottom animation-delay-600" style="color:"></p>
                    </div>

				</div>

			</div>

		</div>
	</div>


<section class="met-download animsition">
	<div class="container">
		<div class="row">
			<div class="col-md-9 met-download-body">
				<div class="row">
					<div class="met-download-list">
						<ul class="list-group list-group-dividered list-group-full met-page-ajax">



	<li class="list-group-item">
		<div class="media">
			<div class="media-left">
				<a href="https://www.szhaokuaiji.cn/download/16.html" title="苏州简易注销公司全体投资人承诺书">
					<i class="icon fa-file-archive-o" aria-hidden="true"></i>
				</a>
			</div>
			<div class="media-body">
				<div class="pull-right">
					<a class="btn btn-outline btn-primary btn-squared" href="https://www.szhaokuaiji.cn/upload/file/1522661012.jpg" title="苏州简易注销公司全体投资人承诺书">立即下载</a>
				</div>
				<h4 class="media-heading">
					<a class="name" href="https://www.szhaokuaiji.cn/download/16.html" title="苏州简易注销公司全体投资人承诺书" target='_self'>
						苏州简易注销公司全体投资人承诺书
					</a>
				</h4>
				<small>
					<span>781.95Kb</span>
					<span class="margin-left-10">2018-10-31 14:42:18</span>
				</small>
			</div>
        </div>
	</li>


 

						</ul>

<div class="hidden-xs"><div class='met_pager'><span class='PreSpan'>上一页</span><a href='https://www.szhaokuaiji.cn/download/list-35.html' class='Ahover'>1</a><span class='NextSpan'>下一页</span>
					<span class='PageText'>转至第</span>
					<input type='text' id='metPageT' data-pageurl='index.php?lang=cn&class2=35&page=|.html|1' value='1' />
					<input type='button' id='metPageB' value='页' />
			</div>
		</div>
<div class="met-page-ajax-body visible-xs-block">
	<button type="button" class="btn btn-default btn-block btn-squared ladda-button" id="met-page-btn" data-style="slide-left" data-url="https://www.szhaokuaiji.cn/download/?lang=cn&class1=32&class2=35&class3=&mbpagelist=1" data-page="1"><i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>加载更多</button>
</div>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">

                    <div class="met-news-bar">

                        <form method='get' action="https://www.szhaokuaiji.cn/search/search.php">
                            <input type='hidden' name='lang' value='cn' />
                            <input type='hidden' name='class1' value='32' />
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    <input type="text" class="form-control" name="searchword" placeholder="Search">
                                </div>
                            </div>
                        </form>

						<div class="recommend news-list-md">
							<h3>为您推荐</h3>
							<ul class="list-group list-group-bordered">

								<li class="list-group-item"><a href="../download/32.html" title="小企业会计准则下载" target='_self'>小企业会计准则下载</a></li>

								<li class="list-group-item"><a href="../download/16.html" title="苏州简易注销公司全体投资人承诺书" target='_self'>苏州简易注销公司全体投资人承诺书</a></li>

								<li class="list-group-item"><a href="../download/27.html" title="自然人税收管理系统扣缴客户端（江苏省）（完整安装包下载）" target='_self'>自然人税收管理系统扣缴客户端（江苏省）（完整安装包下载）</a></li>

								<li class="list-group-item"><a href="../download/26.html" title="2018版苏州一般纳税人税务注消准备必须材料及相关说明" target='_self'>2018版苏州一般纳税人税务注消准备必须材料及相关说明</a></li>

								<li class="list-group-item"><a href="../download/25.html" title="纳税人首次办税补充信息表（2016年10月版）" target='_self'>纳税人首次办税补充信息表（2016年10月版）</a></li>

							</ul>
						</div>

                        <ul class="column">
                            <li><a href="https://www.szhaokuaiji.cn/download/" title="全部" target='_self'>全部</a></li>

                            <li><a href="https://www.szhaokuaiji.cn/download/list-35.html" class="active" title="税务文件">税务文件</a></li>


                            <li><a href="https://www.szhaokuaiji.cn/download/list-34.html"  title="工商文件">工商文件</a></li>


                        </ul>

                    </div>

				</div>
			</div>
		</div>
	</div>
</section>


<include file="Public/header" />
</body>
</html>
