<!DOCTYPE HTML>
<html class="">
	<head>
		<include file="Public/header" />

			<include file="Public/fuye" />


			<div class="subcolumn_nav_met_21_1_75" m-id='75' m-type='nocontent'>
				<div class="container">
					<div class="row">
						<div class="clearfix">
							<div class="subcolumn-nav text-xs-left">
								<ul class="subcolumn_nav_met_21_1_75-ul m-b-0 p-y-10 p-x-0 ulstyle">

									
								<!-- 	<li>
									<a href="https://mb.mituo.cn/mui618/about/show.php?id=23" title="荣誉资质" class=' link'>荣誉资质</a>
								</li>
																
								<li>
									<a href="https://mb.mituo.cn/mui618/job/" title="招聘信息" class=' link'>招聘信息</a>
								</li> -->
								</ul>
							</div>
							<div class="subcolumn-nav-location clearfix ulstyle">
								<li class="location">
									您的位置： </li>
								<li>
									<a href="/" title="网站首页">
										网站首页 </a>
									<i class="fa fa-angle-right"></i>
								</li>
							
								<li>
									<a href="" target='_self' title="联系我们">联系我们</a>
									<i class="fa fa-angle-right"></i>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
 
			<main class="show_met_21_6_19 page-content" m-id='19'>


				<article class="met-show-body panel m-b-0" boxmh-mh>

					<div class="    container">
								<div id="map" class="col-md-8" style="height:350px;"></div>
						<section class="met-editor clearfix">
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);">




							<!--  <img
															 width="830" height="519" src="img/662c106555334e6fa18f0b71b2a5d77d.gif" alt="图片关键词" style="box-sizing: inherit; border-style: none; vertical-align: top; max-width: 100%; height: 519px; float: right; width: 830px;" />
							 -->

								 <span
								 style="box-sizing: inherit; max-width: 100%;">公司地址</span>



								</p>


							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">总公司：{$place[$config2['province']]}{$place[$config2['city']]}{$place[$config2['district']]}{$config2['address']}</span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><br
								 style="box-sizing: inherit; max-width: 100%;" /></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);">
							 <span
								 style="box-sizing: inherit; max-width: 100%;">乘车路线</span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">长沙高铁南站乘111路至洋湖经济区下车<br style="box-sizing: inherit; max-width: 100%;" /></span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">长沙火车站乘222路至洋湖经济区下车<br style="box-sizing: inherit; max-width: 100%;" /></span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">长沙黄花机场乘333路至洋湖经济区下车<br style="box-sizing: inherit; max-width: 100%;" /></span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">自驾请导航至长沙洋湖总部经济区<br style="box-sizing: inherit; max-width: 100%;" /></span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><br
								 style="box-sizing: inherit; max-width: 100%;" /></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">服务热线<br style="box-sizing: inherit; max-width: 100%;" /></span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">24小时服务热线：000-000-0000</span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><br
								 style="box-sizing: inherit; max-width: 100%;" /></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">工作时间</span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><br
								 style="box-sizing: inherit; max-width: 100%;" /></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">上午9:00-12：00（周一至周五）</span></p>
							<p segoe="" lucida="" microsoft="" droid="" wenquanyi="" micro="" hiragino="" sans="" gb="" font-size:=""
							 text-indent:="" white-space:="" background-color:="" style="margin-bottom: 0.8em; white-space: normal; box-sizing: inherit; max-width: 100%; color: rgb(42, 51, 60);"><span
								 style="box-sizing: inherit; max-width: 100%;">下午1:00-5：00（不含节假日）</span></p>
							<div><span style="box-sizing: inherit; max-width: 100%;"><br /></span></div>
							<p><br /></p>
						</section>
					</div>
				</article>

			</main>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6d88e38ab7f507ee19cec46443691d95"></script>
 <script type="text/javascript">
  
            // 百度地图API功能
            var map = new BMap.Map("map");    // 创建Map实例
            var point = new BMap.Point(106.533979,29.565644);   //坐标拾取网址：http://api.map.baidu.com/lbsapi/getpoint/index.html
        
            var marker = new BMap.Marker(point);  // 创建标注
            var mapStyle = {style:"normal"};
            map.setMapStyle(mapStyle);
  
            var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
            var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
        
            marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
            map.centerAndZoom(point, 13);  // 初始化地图,设置中心点坐标和地图级别
            map.addOverlay(marker);               // 将标注添加到地图中
            map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
            map.setCurrentCity("重庆");          // 设置地图显示的城市 此项是必须设置的
          
        
        
            window.onresize = function(){
        
                map.centerAndZoom(point, 15);  // 重置窗口的时候 重新获取中心点坐标的位置
        
            }
  
          map.addControl(top_left_control);
          map.addControl(top_left_navigation);
          /*map.addControl(top_right_navigation);  */

        </script>
<include file="Public/footer" />
		</body>
	
</html>
