<extend name="Public:contact" />
<block name="webtitle"><title>{$now.cat_name}-{$config2.store_title}</title></block>


<!-- <block name="content2">
<main class="show_met_16_1      met-show-body panel panel-body m-b-0 
          bgcolor
  " boxmh-mh="" m-id="7">
      <div class="container my-show left">
  <div class="row">
    
        <section class="met-editor clearfix">
                        <h4 style="font-family: &quot;Lucida Grande&quot;, Helvetica, Arial, &quot;Microsoft YaHei&quot;, FreeSans, Arimo, &quot;Droid Sans&quot;, &quot;wenquanyi micro hei&quot;, &quot;Hiragino Sans GB&quot;, &quot;Hiragino Sans GB W3&quot;, Roboto, Arial, sans-serif; line-height: 3em; color: rgb(55, 71, 79); margin-top: 11px; margin-bottom: 11px; text-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1px; white-space: normal; text-align: center;"><span style="color: rgb(247, 150, 70); font-family: 宋体, SimSun;">
                          <strong>企业服务热线：{$config2.contact}{$config2.mobile}</strong></br>
 <strong>客服QQ：{$config2.qq}</strong></br>
  <strong>办公地址：{$place[$config2['province']]}{$place[$config2['city']]}{$place[$config2['district']]}{$config2['address']}</strong>

                        </span></h4>


      </section>       
      <div style="text-align:center;">
<img src="[IMG]/00.jpg"  data-width="600" width="600" data-height="400" height="400" title="{$config2.store_keyword}" alt="{$config2.store_keyword}" style="max-width: 100%; height: auto !important;"></div>
          </div>
                </div>
               </main>
</block>

<block name="right">
</block> -->