/*global*/

	body {

	color: #000;

	font-family:"微软雅黑", Arial, Verdana, sans-serif;

	font-size: 12px;

	background: #fff;

	margin: 0 auto;

	min-width: 900px;

	height: 100%;

	overflow:auto;

	min-width: 1280px !important;

	min-height: 820px !important;

	

}

html {

	height: 100%;

	min-width: 1280px !important;

	min-height: 820px !important;

}

* {

	margin: 0;

	padding: 0;

}
.auto1{
	width: 1560px;
	margin: 0 auto;
}

input {

	font-family: Arial, Verdana, sans-serif;

	font-size: 12px;

	outline: none;

}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p, button {

	padding: 0;

	margin: 0;

	border: 0;

}

ol, ul {

	list-style: none;

}

li {

	list-style-type: none;

}

a:hover {

	color: #fe5426;

	border: 0;

}

a {

	cursor: pointer;

	-moz-outline-style: none;

	text-decoration: none;

	outline: none;

	color: #000;

	outline: none;

	border: 0;

	-webkit-transition: color 0.1s linear;

	-moz-transition: color 0.1s linear;

	-o-transition: color 0.1s linear;

	transition: color 0.1s linear;

}

.clearfix {

	display: block;

}

img {

	border: 0 none;

}

/*header*/

	.header {

	width: 100%;

	background: #222;

	/*border-bottom: 1px solid #111;*/

	/*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06),0 0 1px rgba(255, 255, 255, 0.15) inset;*/

	top: 0;

	position: relative;

	z-index: 1000;

}

.headerContainer {

	margin: 0 auto;

	max-width: 1400px;

	position: relative;

	height: 100px;

	height: 101px/9;

}

@media screen and (min-width:0\0) {

 .headerContainer {

 height: 101px;

}

/* IE9 , IE10 ,IE11 rule sets go here*/

}

.joinBox {

	margin-top: 20px;

	position: fixed;

    bottom: 100px;

	width: 100%;

	z-index: 30;

}

.joinContainer {

	margin: 0 auto;

	max-width: 1200px;

	background: rgba(255,255,255,.1);

	border: 4px #fe5426 solid;

	font-size: 20px;

	padding: 25px;

	color: #fff;

	/*border-radius: 5px;*/

	text-align: center;

	padding-right: 50px;

}

.logo {

	display: inline-block;

	/*color: #E7E7E7;*/

	/*font: bold 55px "Trebuchet MS";*/

	height: 100px;

	/*line-height: 95px;*/

	padding: 0 30px;/*text-shadow: 2px 2px 2px #000;*/

}

.logo:hover {

	color: #DADADA;

	text-shadow: 2px 2px 10px #000;

}

.nav {

	display: inline-block;

	vertical-align: top;

}

.nav > li {

	display: inline-block;

	float: left;

	position: relative;

}

.nav > li::after{

	content: '';

	position: absolute;

	bottom: 0;

	width: 100%;

	height: 0;

	background: #fe5426;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

	z-index: -1;

}

.nav > li > a {

    display: block;

    font-size: 16px;

    /* border-left: 1px solid #141414; */

    /* box-shadow: inset 1px 0 0 #292929; */

    /* line-height: 100px; */

    padding: 32px 0;

    vertical-align: top;

    text-shadow: 1px 1px 0 #000;

    /* font-family: Oswald, Arial Bold, sans-serif; */

    color: #D5D5D5;

    text-align: center;

    width: 150px;

}

.nav > li > a:hover{color: #fff !important;}

.nav > li > a span {

	display: block;

	font-size: 12px;

	margin-top: 5px;

	color: #686868;

	text-shadow: 0 0 0 #000;

	font-family: arial;

	 -webkit-transition: all .26s ease-out 0s;

 -moz-transition: all .26s ease-out 0s;

 -o-transition: all .26s ease-out 0s;

 transition: all .26s ease-out 0s;

}

.nav > li > a span:hover{color: #fff !important;}

/*.nav > li:nth-child(4) > a {

 border-right: 1px solid #111010;

 box-shadow: inset 1px 0 0 #2E2E2E, inset -1px 0 0 #2E2E2E;

}*/

.nav > li:nth-child(5) > a {

 /*border-right: 1px solid #111010;*/

 /*box-shadow: inset 1px 0 0 #2E2E2E, inset -1px 0 0 #2E2E2E;*/

}

.caret {

	border-top: 7px solid #AAA;

	border-right: 5px solid rgba(0, 0, 0, 0);

	border-left: 5px solid rgba(0, 0, 0, 0);

	content: "";

	display: inline-block;

	height: 0;

	width: 0;

	margin-left: 5px;

	vertical-align: middle;

	-webkit-transition: color 0.1s linear;

	-moz-transition: color 0.1s linear;

	-o-transition: color 0.1s linear;

	transition: color 0.1s linear;

}

.nav > li:hover::after {

	height: 100%;

}

.active {

	background-color: #fe5426;

	color: #fff!important;

	/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset,inset 1px 0 0 #363636,inset -1px 0 0 #363636!important;*/

	position: relative;

	/*top: -1px;*/

	text-shadow:0 0 0 #000!important;

}

.active span {

	color: #fff!important;

}

.nav > li:hover > a {

	color: #76D0FF;

 -webkit-transition: color .2s linear;

 transition: color .2s linear;

}

.nav > li:hover > a > .caret {

	border-top-color: #F3733A;

}

.nav > li > div {

	background-color: rgba(40, 44, 47, 0.87);

	border-top: 1px #161616 solid;

	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.14);

	display: none;

	margin: 0;

	opacity: 0;

	position: absolute;

	left: 0;

	width: 100%;

	top: 99px;

	z-index: -10000;

	visibility: hidden;

 -webkit-transition: all .26s ease-out 0s;

 -moz-transition: all .26s ease-out 0s;

 -o-transition: all .26s ease-out 0s;

 transition: all .26s ease-out 0s;

}

.nav > li:hover >a span{color: #fff !important;}

.nav > li:hover > div {

	display: block;

	opacity: 1;

	visibility: visible;

 -webkit-transition: all .26s ease-out 0s;

 -moz-transition: all .26s ease-out 0s;

 -o-transition: all .26s ease-out 0s;

 transition: all .26s ease-out 0s;

}

.nav > li > div ul {

	max-width: 1140px;

	margin: 0 auto;

}

.nav > li > div ul > li {

	display: inline-block;

}

.nav > li > div ul > li > a {

	color: #fff;

	display: inline-block;

	padding: 20px 24px;

	text-decoration: none;

}

.nav > li > div ul > li> a img {

	position: relative;

	bottom: 0px;

	-webkit-transition: bottom 0.2s linear;

	-moz-transition: bottom 0.2s linear;

	-o-transition: bottom 0.2s linear;

	transition: bottom 0.12s linear;

}

.nav > li > div ul > li:hover > a img {

	position: relative;

	bottom: 5px;

	-webkit-transition: bottom 0.2s linear;

	-moz-transition: bottom 0.2s linear;

	-o-transition: bottom 0.2s linear;

	transition: bottom 0.2s linear;

}

/*main*/

	.main {

/*margin: 0 auto;

	max-width: 1400px;*/

	/*margin-top: 10px;*/

}

.homeBanner {

	/*max-width: 1920px;

	height: 500px;*/

	background: url(../img/video_bg.jpg) no-repeat top center;

	max-width:1920px;

	width: 100%;

	height:100%;

	position: absolute;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

}

.homeBanner .blackBG{

	position: relative;

	width: 100%;

	height: 100%;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

	/*background: rgba(0,0,0,0.5);*/

	z-index: 11;

}

.homeBanner .blackBG::before{

	content: '';

	width: 100%;

	height: 100%;

	position: absolute;

	top: 0;

	left: 0;

	background: url(../img/video_mask-2.png);

	opacity: .4;

}

.subBanner {

	/*max-width: 1920px;

	height: 500px;*/

	background: url(../img/sub_banner.jpg) top center;

	max-width:1920px;

	width: 100%;

	height:120px;

}

/*footer*/

	.footerContainer {

	/* max-width: 1250px; */

    margin: 0 auto;

	padding:4px 0;

	color: #636363;

	text-align: center;

	/*border-top: 1px #000 solid;*/

	margin-top: 26px;

	background-color: #222;

	text-align:center;

	z-index: 999;

	width: 100%;

}

.homePage .footerContainer {

	position:fixed;

	bottom:0;

}

.copyright {

	display: inline-block;

    vertical-align: middle;

	margin-top:12px;

}

.net_img{

	display:inline-block;

	vertical-align: middle;

	text-align: left;

	width:100px;}


.button {

	display: inline-block;

	background: #66c2a2;

	min-width:120px;

	height: 41px;

	line-height: 41px;

	color: white;

	position: relative;

	border-radius: 10px;

	text-align: center;

	font-size:16px ;

	font-weight:bold;

	margin:8px 0;

	/*top: 4px;*/

}

.button:hover {

	color: #fff;

	background: #54b090;



	/*top: 4px;*/

}

/*imglist banner*/

	ul.imglist {

	position: relative;

	list-style: none;

	padding: 0;

	margin: 0;

	overflow: hidden;/*display: none;*/

}

li.imglist-slide {

	position: absolute;

	display: none;

}

ul.imglist-controls {

	list-style: none;

	margin: 0;

	padding: 0;

	z-index: 9999;

}

ul.imglist-controls.v-centered li.imglist-next a {

	right: 0;

}

ul.imglist-controls.v-centered li.imglist-prev a {

	left: 0;

}

ol.imglist-markers {

	list-style: none;

	padding: 0;

	margin: 0;

	width: 100%;

	position: absolute;

	bottom: 20px;

}

ol.imglist-markers.h-centered {

	text-align: center;

}

ol.imglist-markers li {

	display: inline;

}

p.imglist-caption {

	display: block;

	color: #fff;

	width: 200px;

	margin: 0;

	padding: 20px 15px;

	position: absolute;

	bottom: 0;

	text-align: center;

	right: 5%;

	bottom: 10%;

	border-radius: 3px;

	font-size: 25px;

	border-bottom: 5px solid #852218;

	text-shadow: -1px -1px 0 #852218;

	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E65644), to(#BD3929));

	background:-moz-linear-gradient(top, #E65644, #BD3929);

 FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#E65644, endColorStr=#BD3929);

	font-family: "Open Sans", Arial bold;

	font-weight: 800;

	letter-spacing: -1px;

}

/*.imglist-slide:first-child a .imglist-caption {

	display: none;

}*/

	a:hover p.imglist-caption {

	color: #fff;

}

a:hover p.imglist-caption:hover {

	color: #fff;

	border-bottom: 5px solid #A8291A;

	text-shadow: -1px -1px 0 #A8291A;

	background: #D65641;

}

.imglist-slide:nth-last-child(2) p.imglist-caption {

 left: 5%;

}

ul.imglist-controls.v-centered li a {

	position: absolute;

	display: block;

	padding: 10px;

	background: #fff;

	color: #000;

	text-decoration: none;

}

ul.imglist-controls.v-centered li a:hover {

	background: #000;

	color: #fff;

}

ol.imglist-markers li a {

	padding: 7px;

	background: rgb(255,255,255);

	color: #fff;

	margin: 5px;

	text-decoration: none;

	display: inline-block;

	border-radius: 25px;

	box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);

}

ol.imglist-markers li.active-marker a, ol.imglist-markers li a:hover {

	background: #F3733A;

}

/*subpage*/

	.mainContent, .helpContent, .processContent {

	max-width: 1560px;

	margin: 0 auto;

	overflow: hidden;

	position: relative;

	clear:both;





}

.helpContent {

	margin-top:20px;

}

.guidContainer {

	background: #FAFAFA;

	border: 1px #b5b5b5 solid;

	color: #3e3e3e;

	border-radius: 5px;
	line-height: 22px;

	padding:12px;

}

.processContent {

	background: #FAFAFA;

	border: 1px #fe5426 solid;

	color: #373737;

	border-radius: 5px;

	margin-top:20px;

}

.title {

	background: #fe5426;

	color: #fff;

	text-align: center;

	font-size: 18px;

	padding: 10px;

}

.rightContent {

	padding-top: 45px;
	line-height: 24px;
	margin-left: 280px;
	margin-right: 190px;

	/*	width: 68%;

	float: left;*/

	font-size: 14px;

	height: 100%;

	min-height:400px;

	min-height:600px;

}
.rightContent h1{line-height: 30px;margin-bottom: 20px;}
.rightContent h2{line-height: 30px;margin-bottom: 20px;}

.rightContent p {

	padding-bottom: 20px;

	line-height: 25px;

}

.leftBar {

	width: 179px;

	float: left;

	padding: 45px 30px 0 26px;

	/*min-height: 800px;*/

  position: absolute;

	bottom: 0;

	top: 0;
	margin-left: 40px;

}

.subNav {

}

.subActive, .subNav a.here {

	background: #fe5426;

	border-radius:6px;

	width: 130px;

	color: #fff!important;

	background-position: 0px -22px;

}

.subNav a {

	display: block;

	padding: 12px 5px;

	/*color: #000;*/

	font-size: 14px;

	min-width: 160px;

	text-align:center;

}

.subNav a.button {

	display: block;

	font-size: 16px;

	padding:4px;

	width:100%;

	margin-top:20px;

	font-weight:bold;

}

.subNav a.button:hover {

	color:#000;

}

.subNav .download{

	margin-top:50px;}

.subNav a:hover{color: #fe5426;}

.subName {

	MAX-WIDTH: 1400PX;

	margin: 0 auto;

	font-size: 51px;

	line-height: 120px;

	color: #fe5426;

	padding-left: 57px;

	font-family: Arial bold, Verdana, sans-serif;

}

.InfoContent {

	display: inline-block;

	vertical-align: top;

	width: 73%;

	float: left;

}

.InfoContent p {

	color: #616161;

	display: block;

	line-height: 25px;

	/*padding-top: 5px;*/

	text-align: left;

	font-style: normal;

	font-size: 14px;

	padding-bottom: 0;

}

.listItem li {

	overflow: hidden;

	border-top: 1px #C5C5C5 dotted;

	padding: 20px 0;

	text-align: left;

	color: #616161;

	line-height: 20px;

	font-size: 13px;

	line-height: 25px;

}

.listItem li h3 {

	display: inline-block;

}

.listNum {

	font-size: 14px;

	display: inline-block;

	background: #fe5426;

	color: #fff;

	border-radius: 25px;

	width: 30px;

	text-align: center;

	padding: 3px 0;

	margin-right: 16px;

}

.subTitle {

	font-size: 70px;

	padding: 20px 20px 30px 20px;

	display: block;

	line-height: 70px;

	color: #BDBDBD;

	text-shadow: 2px 2px 2px #000;

	font-family: Oswald, Arial, sans-serif;

	font-weight: 400;

}

.subContent {

	line-height: 20px;

	color: #9C9C9C;

	padding: 0 20px 20px 20px;

	text-align: justify;

	text-justify: inter-ideograph;

}

.subContent p {

	font-size: 14px;

	text-shadow: 1px 1px 0px #0A0A0A;

}

.otherpage .main {

	padding-bottom: 130px;

}

#wrap {

	position: relative;

	min-height: 100%;
	background: #f0f0f0;
	min-width: 1560px;

}

.otherpage #footer {

	position: absolute;

	bottom: 0;

	width: 100%;

	background: #0F0F0F;

	height: 100px;

	border-top: 1px #1D1D1D solid;

}

.otherpage .footerContainer .mainContent {

	padding: 10px 20px 0 20px;

}

.subContent .listInfo {

}

.subContent .listInfo li {

	display: inline-block;

	margin-left: -1px;

}

.subContent .listInfo > li > a {

	display: inline-block;

	padding: 20px 34px 13px 15px;

	border: 1px #222 solid;

	background: #1B1C1D;

	border-radius: 0;

	min-width: 380px;

	margin-right: 28px;

	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.21);

	margin-bottom: 28px;

}

.subContent .listInfo > li > a:hover {

	box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.4);

	border: 1px #272727 solid;

	background: #1C1E1F

}

.imageContainer {

	display: inline-block;

	/*min-height: 74px;*/

	vertical-align: top;

	min-width: 134px;

	margin-right: 28px;

	float: left;

	min-width: 132px;

}

.InfoContent {

	display: inline-block;

	vertical-align: top;

}

/*.InfoContent*/

	h3, h4 {

	color: #fe5426;

	font-size: 17px;

	font-weight: bold;

}

.InfoContent a {

	display: block;

}

.subContent .listInfo > li > a:hover .InfoContent h3 {

	padding-left: 10px;

}

.subContent .listInfo > li > a, .subContent .listInfo > li > a:hover h3, .subContent .listInfo > li > a > h3, .InfoContent h3, .active {

 -webkit-transition: all .26s ease-out 0s;

 -moz-transition: all .26s ease-out 0s;

 -o-transition: all .26s ease-out 0s;

 transition: all .26s ease-out 0s;

	z-index: 5;

	-webkit-backface-visibility: hidden;

}

.subContent .listInfo li a {

	padding-left: 10px;

	background: #fff;

	background-size: contain;

}

.InfoContent i {

	color: #9C9C9C;

	max-width: 200px;

	display: block;

	line-height: 15px;

	padding-top: 5px;

	text-align:left;

}

/*.otherpage .headerContainer {

	position: static;

}*/

	.line {

	margin-top: 20px;

	margin-bottom: 20px;

	display: block;

	height: 1px;

	background: #141414;

	box-shadow: 1px 1px #202020;

}

ul.tabs {

	margin: 0;

	padding: 0;

	float: left;

	list-style: none;

	border-bottom: 1px solid #fe5426;

	border-left: 1px solid #fe5426;

	width: 100%;

}

ul.tabs li {

	float: left;

	margin: 0;

	padding: 0;

	border: 1px solid #fe5426;

	border-left: none;

	margin-bottom: -1px;

	/* background: #1595d8;*/

	overflow: hidden;

	position: relative;

}

ul.tabs li a {

	text-decoration: none;

	color: #000;

	display: block;

	font-size: 14px;

	padding: 11px 20px;

	/* border: 1px solid #fff;*/

	outline: none;

}

ul.tabs li a:hover {

	/* background: #EDF9FF;*/

	color: #6e200b;

}

html ul.tabs li.tabActive a, html ul.tabs li.tabActive a:hover {

	background: #fe5426;

	color:#fff;/*border-bottom: 1px solid #fff;*/

}

.tab_container {

	/* border: 1px solid #999;*/

	border-top: none;

	clear: both;

	float: left;

	width: 100%;

	background: #fff;

	-moz-border-radius-bottomright: 5px;

	-khtml-border-radius-bottomright: 5px;

	-webkit-border-bottom-right-radius: 5px;

	-moz-border-radius-bottomleft: 5px;

	-khtml-border-radius-bottomleft: 5px;

	-webkit-border-bottom-left-radius: 5px;

}

.tab_content {

	padding:20px 0;

	font-size: 1.2em;

}

.tab_content h3 a {

	color: #254588;

}

/*.tab_content img {

	float: left;

	margin: 0 20px 20px 0;

	border: 1px solid #ddd;

	padding: 5px;

}*/

/*functionTab*/

.functionTab {

	width: auto;

	margin: 10px 0 29px 0;

	overflow: hidden;

}

.functionTab li {

	float: left;

	width: 68px;

	margin-right: 15px;

}

.functionTab li a {

	display: block;

	width: 68px;

	height: 100px;

	font-size: 14px;

	text-align: center;

	position: relative;

}

.functionActive {

	color: #fe5426;

}

.functionActive span {

	border-bottom: 5px #fe5426 solid!important;

}

.functionTab li a span {

	display: inline-block;

	position: absolute;

	width: 100%;

	left: 0;

	bottom: 0;

	padding: 5px 0;

	border-bottom: 5px #fff solid;

}

.artIcon, .programIcon, .planIcon, .testIcon, .operateIcon, .businessIcon, .ofcIcon {

	background: url(../img/sprite_icon.png) no-repeat;

}

.artIcon {

	background-position: 0px -70px;

}

.programIcon {

	background-position: -69px -70px;

}

.planIcon {

	background-position: -138px -70px;

}

.testIcon {

	background-position: -207px -70px;

}

.operateIcon {

	background-position: -276px -70px;

}

.businessIcon {

	background-position: -345px -70px;

}

.ofcIcon {

	background-position: -414px -70px;

}

/*jobtab*/

.jobTabCon {

	border-top: 1px #C5C5C5 dotted;

	border-bottom: 1px #C5C5C5 dotted;

	padding: 12px 0;

	overflow: hidden;

	position: relative;

}

.jobTab {

	overflow: hidden;

	display: inline-block;

	margin-left:90px;

}

.jobTab li {

	float: left;

	display: inline-block;

	margin-right: 11px;

}

.jobTab li a, .jobTabTitle {

	padding: 10px 13px;

	display: block;

	font-size: 14px;

	min-width: 50px;

    text-align: center;

}

.jobTabTitle {

	padding: 10px 0;

	display: inline;

	font-size: 14px;

	float: left;

	position: absolute;

}

.jobTabActive {

	background: #fe5426;

	color: #fff;

	border-radius:30px;

}

.jobTabActive:hover {

	color: #fff;

}

.jobCotainer h2 {

	height: 80px;

	line-height: 80px;

	font-size: 24px;

	color: #fe5426;

}

.jobCotainer, .conditions {

	font-size: 14px;

	line-height: 28px;

	color: #303030

}

.mb10 {

	margin-bottom: 10px;

}

.jobInfo span {

	margin-right: 40px;

}

.jobCotent h3 {

	padding: 5px 0;

}

.mapCon {

	width: 700px;

	height: 300px;

	background-color: #FCFCFC;

	border: 1px #F2F2F2 solid;

	text-align: center;

	font-size: 79px;

	color: #F0F0F0;

	line-height: 300px;

}

.listPics {

}

.listPics li {

	overflow: hidden;

	padding: 10px 0 0 0;

	text-align: left;

	color: #616161;

	font-size: 13px;

	line-height: 25px;

	display: inline-block;

	margin-right: 20px;

	/*border-bottom: 1px solid #fe5426;*/

	margin-bottom: 20px;

	text-align:center;

}

.listPics.gamelist li {

	padding:30px 20px;



}

.game{

	font-weight:bold;

	color:#000;

	font-size:16px;

	margin:10px 0;}

.download,.download:hover{display: inline-block;

    margin: 0 10px;

    width: 160px;

    height: 30px;

    line-height: 30px;

    border: 1px solid #eee;

    font-size: 12px;

    color: #555;

    text-align: center;

	background:url(../img/dw.png) left center no-repeat #fafafa	}

.download:hover{

	background-color:#f6f6f6;

	color:#000;}

.listPics li span {

	display: block;

	padding: 7px 0;

	text-align: center;

	color: #6990B4;

}

#scrollBox {

	height: 50px;

	line-height: 22px;

	overflow: hidden;

	position: absolute;

	top: 260px;

	left: 9.5%;

	width: 315px;

	font-size: 14px;

	color: #1595d8;

}

.BannerTxt {

	position: absolute;

	top: 115px;

	left: 9%;

}

.scrollTxt {

	height: 50px;

}

ul.scrollTxt li {

	height: 50px;

}

.txtContainer {

	position: absolute;

	top: 150px;

	width: 1280px;

	left: 50%;

	margin-left: -640px;

	z-index: 30;

}

@font-face {

  font-family: 'yuweij';

  src: url('../other/yuweij.woff') format('woff'),

       url('../fonts/yuweij.ttf') format('truetype'),

       url('../fonts/yuweij.svg#yuweij') format('svg');

  font-weight: normal;

  font-style: normal;

}



.txtContainer span{

	color: #fff;

	font-family: "yuweij";

	font-size: 100px;

	line-height: 140px;

	text-shadow: 0 0 20px #fe5426;

	margin-bottom: 40px;

	animation: bian 2.5s ease-in-out infinite;

}

.txtContainer strong{

	color: #fff;

	font-family: "yuweij";

	font-size: 122px;

	line-height: 142px;

	text-shadow: 0 0 20px #fe5426;

	margin-bottom: 40px;

	animation: bian 2.5s ease-in-out infinite;

	

}

.txtContainer span::selection{background: #fe5426;}

.txtContainer strong::selection{background: #fe5426;}

.hireProced {

}

 @media screen and (max-width: 1100px) {

 .hireProced img {

 width: 90%;

 height: 90%;

 padding-right: 0;

}

.hireProced img {

}

}

.protect_content {

	background: url("../img/line.jpg") repeat-y;

	padding: 10px 15px 10px 24px;

	overflow: hidden;

}

.protect_foot {

	background: url("../img/footer.jpg");

	width: 942px;

	height: 198px;

}

.protect_content_inner {

	border: 5px solid rgb(243, 243, 243);

	border-image: none;

	width: 884px;

	overflow: hidden;

}

.protect_content_inner_left {

	background: rgb(248, 248, 248);

	padding: 10px 0px 0px 10px;

	width: 244px;

	float: left;

}

.protect_content_inner_right {

	padding: 10px 10px 10px 0px;

	width: 590px;

	float: right;

}

.protect_content_inner_right h1 {

	background: rgb(222, 245, 224);

	width: 100%;

	height: 35px;

	text-align: center;

	color: rgb(85, 157, 66);

	line-height: 35px;

	font-size: 14px;

	font-weight: bold;

	margin-bottom: 20px;

}

.protect_content_inner_right h2 {

	color: rgb(0, 0, 0);

	font-weight: bold;

}

.protect_content_inner_right span {

	color: rgb(33, 134, 231);

}

.protect_content_contact {

	background: url("../img/elements.jpg") no-repeat 0px -343px;

	padding: 80px 0px 0px 25px;

	width: 198px;

	height: 157px;

	color: rgb(33, 134, 231);

	margin-top: 25px;

	display: block;

}

.none {

	display: none;

}

h1 {

	margin: 0px;

	padding: 0px;

	border: 0px currentColor;

	border-image: none;

	font-size: 100%;

	vertical-align: baseline;

	margin-bottom:12px;

}

h2 {

	border-image-source: none;

	border-image-slice: initial;

	border-image-width: initial;

	border-image-outset: initial;

	border-image-repeat: initial;

	font-size: 100%;

	vertical-align: baseline;

	margin: 0px;

	padding: 0px;

	border: 0px currentcolor;

	margin-bottom:12px;

}

.product h2 {

	border-bottom: 1px solid #1595d8;

	padding:11px;

}

.table h4 {

	font-size:16px;

	padding:14px;

	text-align:center;

}

h5 {

	font-size:12px;

	color:#444;

	margin-bottom:10px;

	text-align:center;

}

h5 a {

	font-weight:normal;

	color: #fff;

}

.table {

	width:600px;

	margin: 0 auto;

}

.table .container, .table2 .container {

	border: 1px solid #fe5426;

	margin: 6px;

}

.table_style1 {

}

.table_style1 td {

	text-align:center;

}

.table_style2 {

}

.table_style2 td {

	width:50%;

	text-align:center;

}

.arrow, .arrow2 {

	background-image:url(../img/sprite_icon.png);

	background-position:center -379px;

	background-repeat:no-repeat;

	height: 20px;

	width: 100%;

}

.arrow2 {

	background-position:-497px center;

	height: 100%;

	width: 20px;

	min-width: 20px;

}

.table2 .container {

	border: 1px solid #fe5426;

	margin: 6px;

	background-color: #fe5426;

	color: #fff;

}

.table2 h4 {

	font-size:16px;

	padding:10px 0;

	text-align:center;

	color: #fff;

}

.table2 h5 {

	font-size:12px;

	margin-bottom:8px;

	color: #fff;

}

.footerContainer a {

	/*	border: 1px solid #ddd;

	background-color: #F5f5f5;

	border-radius: 32px;

	margin-left:8px;

	padding: 1px 10px;	*/

	color: #666;

	padding: 6px;

	display: inline-block;

}

.footerContainer a:hover {

	color: #ff7019;

}

.product {

	font-size: 100%;

	vertical-align: baseline;

}

.gameicon {

	margin-top: 0;

	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;

	max-width: 100%;

	height: auto;

	float: left;

}

.gameimage {

}

.product .imageContainer {

text-align: center;

    margin: 12px 0;

    width: 100%;

}

.imageInfo {

	color: #f67b0f;

	padding: 12px;

	display: block;

}

@keyframes bian{

	0%{text-shadow: 0 0 20px #fe5426;}

	50%{text-shadow: 0 0 0px #fe5426;}

	100%{text-shadow: 0 0 20px #fe5426;}

}



.hireProced h4{

	font-size:12px;

	color:#666;

	line-height: 36px;}

.table3 {

	    margin: 20px 0;

    padding: 80px 0;

	font-size:12px;

    

    border-radius: 10px;

    background-color: rgba(255,255,255,0.2);

}

.table3 .box p{

text-align: center;

    width: 40px;

    height: 40px;

    display: inline-block;

    font-size: 26px;

    font-weight: 400;

    background: #d01f27;

    border-radius: 50%;

    -o-border-radius: 50%;

    -moz-border-radius: 50%;

    -webkit-border-radius: 50%;

    color: #fff;

    -webkit-perspective: 900px;

    -moz-perspective: 900px;

    -o-perspective: 900px;

    -ms-perspective: 900px;

    perspective: 900px;

    webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    line-height: 40px;

    border: 2px solid #fff;

    padding: 0;

	padding:0;

}

.table3 .box {

	text-align: center;

	height: 120px;

	padding: 0;

	position: relative;

	width: 100%;

}

.table3 .box2 {

	border: 4px solid #ccc;

	position: relative;

	height: 100px;

	width: 100%;

	background: #f6f6f6;

	border-radius: 12px;

}

.box.top {

	position: absolute;

	top: -60px;

}

.borderLeft, .borderRight {

	position: absolute;

	bottom: 0px;

	width: 50%;

	height: 38px;

	border: 2px solid #ccc;

	border-top: none;

	border-radius: 0 0 8px 8px;

}

.borderLeft {

	border-right: none;

	right: 0;

}

.borderRight {

	border-left: none;

	left: 0;

}

.box.bottom {

	position: absolute;

	bottom: -90px;

}

.box3 {

	position: absolute;

	width: 100px;

	right: -50px;

	bottom: -15px;

	z-index: 6;

}

.box4 {

	background: #fff;

	border: 2px solid #ccc;

	line-height: 30px;

	border-radius: 20px;

}

.table3 td {

	background: url(../img/line2.png) center center repeat;

	width: 11%;

}



.video{

	width:728px;

height:450px;

	margin:20px auto;}

body.homePage {

	overflow:hidden;

	

}



/*下载按钮*/

.g_btn {

	width:160px;

	margin:0 auto;

	overflow:hidden;

}

.g_btn a,.g_btn span {

	text-align:center;

	background:url(../img/sprite_image.png) no-repeat;

	height:46px;

	width:160px;

	display:block;

	margin-top:12px;

	font:600 16px/46px microsoft yahei;

	color:#fff;

	text-decoration:none;

	    padding: 0;

}

.g_btn span.ios_btn,.g_btn span.ios_btn:hover {

	background-position:0 -620px;

	padding-left:15px;

}

.g_btn .ios_btn {

	background-position:0 -818px;

	padding-left:15px;

}

.g_btn .ios_btn:hover {

	background-position:0 -865px;

}

.g_btn span.and_btn,.g_btn span.and_btn:hover {

	background-position:0 -620px;

	padding-left:15px;

}

.g_btn .and_btn {

	background-position:0 -912px;

	padding-left:15px;

}

.g_btn .and_btn:hover {

	background-position:0 -959px;

}

.g_btn .blue_btn {

	background-position:0 -1006px;

}

.g_btn .blue_btn:hover {

	background-position:0 -1053px;

}

.g_btn .green_btn {

	background-position:0 -1152px;

}

.g_btn .green_btn:hover {

	background-position:0 -1201px;

}

.listPics.gamelist{    min-height: 500px;

    padding: 50px 0;}


/* 新增 */
.c{position: static !important;}
.processContent .table2{width: auto;padding-bottom: 0;}
.subActive, .subNav a.here{background: #66c2a2;}
.subNav a:hover{color: #66c2a2;}
.processContent{border-color: #66c2a2;max-width: 1397px;}
.title{background: #66c2a2;}
.table2 .container{background: #66c2a2;border-color: #66c2a2;}
.table .container, .table2 .container{border-color: #66c2a2;}
.table h4{color: #66c2a2;}
.guidContainer{background: #fff;border-color: #66c2a2;padding: 30px 270px;}
.tutelage_down{background: #fff;margin-top: 20px;padding: 20px 0;}
.fu{margin-left: 1480px !important;}
.dibu{min-width: 1560px !important;}
.zuidi{min-width: 1560px !important;}




